.content-area {
    background-image: url('../images/Bali1.jpg');
    background-size: cover;
    width: 100%;
    height: 70rem; 
}

.bali-container {
   align-items: center;
   padding: 3rem;
}
.bali-article {
    padding : 4rem;
    margin : 0 3rem;
    margin-top: 8rem;
    color: white;
    font-size: 50px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}